* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background: url(img/black-n-white-beach-1440x900.jpg);
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

kbd {
  display: block;
  font-size: 4rem;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  color: white;
  padding: 1rem .5rem;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
  margin: 1rem;
  width: 10rem;
  text-align: center;
  font-size: 1.5rem;
}

.playing {
 transform: scale(1.1);
 border-color: #ffc600;
 box-shadow: 0 0 1rem #ffc600;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: #ffc600;
}
